.select_select {
	&._select-open {
		.select__value:before {
			transform: rotate(-180deg);
		}
	}
}
.select {
	position: relative;
	line-height: 1;
	width: rem(288);
	@media(max-width: $mobile) {
		width: 100%;
	}
	
	// .select__item
	&__item {
		position: relative;
	}
	// .select__title
	&__title {
		width: 100%;
		color: $white;
		border: 2px solid $white;
		background-color: transparent;
		cursor: pointer;
		border-radius: rem(10);	

		@media(max-width: $mobileSmall) {
			border-radius: rem(30);	
		}
	}
	// .select__value
	&__value {
		position: relative;
		display: flex;
		height: 56px;
		padding: 0px 16px;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		span {
			height: auto;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			line-height: 100%;
		}
		&:before {
			content: '';
			display: block;
			width: rem(17);
			height: rem(9);
			background: url('../img/interface/shevron-ico.svg');
			background-position: center;
			background-repeat: no-repeat;
			transition: all 0.3s ease 0s;
		}
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: $white;
		display: none;
		position: absolute;
		top: rem(64);
		border-radius: rem(10);
		min-width: 100%;
		left: 0;
		background-color: $black;
		border: 2px solid $white;
		padding: 10px 0px 5px 0px;
		z-index: 2;
	}
	// .select__option
	&__option {
		display: block;
		cursor: pointer;
		padding: 5px 15px;
		margin: 0px 0px 0px 0px;
		@media (min-width: 992px) {
			&:hover {
				color: rgba($white, 0.8);
			}
		}
	}
}