#canvas-main {
    @media(min-width: $mobile) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 650px;
        height: 100vh;
        max-height: 800px;
        cursor: grab;
        overflow: hidden;
    }
    // @media(max-width: $mobile) {
    //     height: 80vh;
    //     width: 100%;
    // }
    @media(max-width: $tablet) {
        display: none;
    }
}