.page {

    &_home {
        #canvas-main {
            // @media(max-width: $tablet) {
            //     display: none;
            // }
        }
    }
    &_smart-panel {
        .pin-spacer {
            & + .page-video {
                margin-top: rem(64);
                margin-bottom: rem(180);
                @media(max-width: $tablet) {
                    margin-bottom: rem(88);
                }
            }
        }
        .page-titers {
            margin-top: rem(180);
            @media(max-width: $tablet) {
                margin-top: rem(112);
            }
            .titers:first-child {
                border-top: 1px solid $white;
                border-bottom: 1px solid $white;
            }
            .titers:last-child {
                color: $light-grey;
            }
        }
    }
    &_room-control {
        .page-video {
            margin-top: rem(180);
            @media(max-width: $tablet) {
                margin-top: rem(96);
            }
        }
    }
    &_soft-smart-home + .footer, &_contacts + .footer {
        margin: 0;
    }
    &_support {
        .page-chess__row {
            @media(max-width: $mobile) {
                flex-direction: column-reverse;
            }
        }
    }
    &_about {
        .page-titers {
            .titers {
                border-top: 1px solid #989CF2;
                &:last-child {
                    border-bottom: 1px solid #989CF2;
                }
            }
        }
    }
    &_gallery {
        .page-section {
            &:not(:last-child) {
                .gallery {
                    @media(max-width: $mobileSmall) {
                        padding-bottom: rem(56);
                        border-bottom: rem(1) solid #575759;
                    }
                }
            }
        }
    }
    &_not-found {
        @extend %flex-center;
        min-height: 100vh;
        margin: 0;

        & + .footer {
            margin: 0;
        }
        .__container {
            position: relative;
            width: 100%;
            img {
                z-index: -1;
                &:first-child {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &:last-child {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
                @media(max-width: $tablet) {
                    display: none;
                }
            }
        }
        
        div {
            @extend %flex-center;
            flex-direction: column;
            position: relative;

            // &:before {
            //     content: '';
            //     @extend %absolute-center;
            //     width: rem(220);
            //     height: rem(220);
            //     background: #161DC1;
            //     border-radius: 100%;
            //     filter: blur(180px);
            //     z-index: -1;
            //     @media(max-width: $mobileSmall) {
            //         width: rem(180);
            //         height: rem(180);
            //     }
            // }
        }
        h1 {
            @extend %hn320-64regular;
            color: transparent!important;
            -webkit-text-stroke: 1px $white;
            position: relative;

            &:not(:last-child) {
                margin-bottom: rem(24);
            }
        }
        p {
            @extend %sf18-14regular;
            @include lh(30, 18, 14, 14);
            text-align: center;
            &:not(:last-child) {
                margin-bottom: rem(80);
                @media(max-width: $mobileSmall) {
                    margin-bottom: rem(200);
                }
            }
        }
    }
    &_privacy-policy {
        .policy-page {
            &__content {
                margin: rem(72) 0 0 0;
                @media(max-width: $mobileSmall) {
                    margin: rem(32) 0 0 0;
                }
        
                h1 {
                    @extend %hn56-24regular;
                    line-height: 110%;
                    max-width: rem(488);
                    margin-bottom: rem(48);
                    @media(max-width: $mobileSmall) {
                        margin-bottom: rem(16);
                    }
                }
            }
            &__text {
                &:not(:last-child) {
                    margin-bottom: rem(48);
                }
                h2 {
                    @extend %sf24-18regular;
                    line-height: 160%;
                    &:not(:last-child) {
                        margin-bottom: rem(24);
                        @media(max-width: $mobileSmall) {
                            margin-bottom: rem(16);
                        }
                    }
                }
                h3 {
                    @extend %sf18-16regular;
                    line-height: 160%;
                    &:not(:last-child) {
                        margin-bottom: rem(24);
                        @media(max-width: $mobileSmall) {
                            margin-bottom: rem(16);
                        }
                    }
                }
                p {
                    @extend %sf16-14regular;
                    line-height: 160%;
                    &:not(:last-child) {
                        margin-bottom: rem(32);
                        @media(max-width: $mobileSmall) {
                            margin-bottom: rem(16);
                        }
                    }
                }
            }
        }
    } 
    &_switches {
        .page-section__descr {
            margin-bottom: rem(80);
            @media(max-width: $mobileSmall) {
                margin-bottom: rem(64);
            }
        }
    }
    &_smart-house {
        .page-section__body {
            padding-bottom: rem(88);
            @media(max-width: $mobile) {
                padding-bottom: rem(32);
            }
        }
    }
    &_product {
        .page-anchor {
            @media(max-width: $mobile) {
                max-width: rem(52);
                svg {
                    width: rem(52);
                }
            }
        }
    }
}